*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
}

.container-two h2{
    text-align: center;
    margin-top: 55px;
}

iframe{
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    /* filter: invert(100%); */
}
.h2{
    font-size: 40px;
}
